{% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class="col-12 text-center py-5">
          {% if key %}
            <h1 class='my-5'>Activation Error. Please Try Again!</h1>
          {% else %}
          <h1 class='my-5'> Re-Activate your email Below!</h1>
          {% endif %}
            
      </div>
      <div class="col-12 text-center">
            <form action="" method='post'>
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-default" type="submit" value="Resend Activation"/>
            </form>
      </div>
</div>
{% endblock %}
