{% url 'products:list' as prod_list %}
{% url 'home' as home %}
{% url 'carts:home' as cart_url %}
{% url 'accounts:login' as login_url %}
{% url 'accounts:logout' as logout_url %}
{% url 'accounts:register' as register_url %}



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" href="{{home}}">E-Commerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == prod_list %}active{% endif %}">
        <a class="nav-link" href="{{ prod_list }}">Products <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">contact</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item {% if request.path == logout_url %}active{% endif %}">
          <a class="nav-link " href="{{logout_url}}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item {% if request.path == login_url %}active{% endif %}">
          <a class="nav-link " href="{{login_url}}">Login</a>
        </li>
        <li class="nav-item {% if request.path == register_url %}active{% endif %}">
          <a class="nav-link " href="{{register_url}}">Register</a>
        </li>
      {% endif %}
      <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
        <a class="nav-link " href="{{cart_url}}"> <span class="cart-count">{{ request.session.cart_item }}</span><i class="fas fa-shopping-cart"></i></a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
    {% include "form/search_form.html" %}
  </div>
  </div>
</nav>
