
<form method="POST" action="{% url 'carts:view' %}" class="form-inline my-2 my-lg-0">
  {% csrf_token %}
  <input type="hidden" name="product_id" value="{{product.id}}"/>
  {% if in_cart %}
    <button type="submit" class="btn btn-outline-warning" >Remove</button>
  {% else %}
    {% if product in cart.products.all %}
      <button type="submit" class="btn btn-outline-warning" >Remove</button>
    {% else %}
      <button type="submit" class="btn btn-outline-success" >Add to cart</button>
    {% endif %}
  {% endif %}



</form>
